---
import BaseLayout from "../layouts/BaseLayout.astro";
import List from "../components/List.astro";

interface Article {
  title: string;
  description: string;
  image: {
    url: string;
    alt: string;
  };
  pubDate: string;
  draft?: boolean;
}

const articles = await Astro.glob<Article>("../pages/blog/*.md");
const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>{pageTitle}</h1>
  <List items={articles} showDate={true} />
</BaseLayout>
