---
import BaseLayout from "../layouts/BaseLayout.astro";
import List from "../components/List.astro";
import { getCollection } from 'astro:content';

const articles = await getCollection('blog');
const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>{pageTitle}</h1>
  <List items={articles} showDate={true} />
</BaseLayout>
