---
import BaseLayout from "../layouts/BaseLayout.astro";
import Socials from "../components/Socials.astro";
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="container">
    <img class="profile" src="../public/profile.jpeg" width="250" />
    <h2>Matthew Cobbing</h2>
    <p>Technical Lead at Perkbox</p>
    <Socials />
  </div>
</BaseLayout>

<style>
  .profile {
    border-radius: 50%;
    margin-top: 100px;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  p {
    margin: 0;
  }

  h2 {
    padding-top: 20px;
    margin: 0;
  }
</style>
