---
import BaseLayout from "../layouts/BaseLayout.astro";
import List from "../components/List.astro";
import { getCollection } from 'astro:content';

const projects = await getCollection('projects');
const pageTitle = "Projects";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>{pageTitle}</h1>
  <List items={projects} />
</BaseLayout>
