---
import BaseLayout from "../layouts/BaseLayout.astro";
import List from "../components/List.astro";

interface Project {
  link: string;
  title: string;
  description: string;
  image: {
    url: string;
    alt: string;
  };
  pubDate: string;
}

const projects = await Astro.glob<Project>("../pages/projects/*.md");
const pageTitle = "Projects";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>{pageTitle}</h1>
  <List items={projects} />
</BaseLayout>
