---
import type { CollectionEntry } from 'astro:content';
import Card from "./Card.astro";

interface Props {
  items: CollectionEntry<'blog'>[] | CollectionEntry<'projects'>[];
  showDate?: boolean;
}

const { items, showDate } = Astro.props;
---

<div>
  {
    items
      .sort(function (a, b) {
        return (
          new Date(b.data.pubDate).getTime() -
          new Date(a.data.pubDate).getTime()
        );
      })
      .map((item) => (
        <Card
          url={'link' in item.data ? item.data.link : `/blog/${item.id.replace('.md', '')}`}
          image={item.data.image}
          title={item.data.title}
          description={item.data.description}
          pubDate={showDate ? item.data.pubDate.toISOString() : undefined}
        />
      ))
  }
</div>
