---
import type { MarkdownInstance } from "astro";
import Card from "./Card.astro";

interface Props {
  items: MarkdownInstance<Item>[];
  showDate?: boolean;
}

interface Item {
  link?: string;
  title: string;
  description: string;
  image: {
    url: string;
    alt: string;
  };
  pubDate: string;
  draft?: boolean;
}

const { items, showDate } = Astro.props;
---

<div>
  {
    items
      .sort(function (a, b) {
        return (
          new Date(b.frontmatter.pubDate).getTime() -
          new Date(a.frontmatter.pubDate).getTime()
        );
      })
      .map((post) => (
        <Card
          url={post.frontmatter.link ? post.frontmatter.link : post.url}
          image={post.frontmatter.image}
          title={post.frontmatter.title}
          description={post.frontmatter.description}
          pubDate={showDate ? post.frontmatter.pubDate : undefined}
        />
      ))
  }
</div>
