<nav>
  <ul>
    <li><strong>cobbing.dev</strong></li>
  </ul>
  <ul>
    <li><strong><a href="/">Home</a></strong></li>
    <li><strong><a href="/articles/">Articles</a></strong></li>
    <li><strong><a href="/projects/">Projects</a></strong></li>
  </ul>
</nav>
