---
const { url, title, image, description } = Astro.props;
---

<div>
  <a class="secondary" href={url}>
    <article>
      <h5>{title}</h5>
      <small class="description">{description}</small>
      <img src={image.url} />
    </article>
  </a>
</div>
<style>
  h5 {
    margin-bottom: 0;
  }

  div {
    max-width: 700px;
  }

  .description {
    margin-bottom: 5;
  }

  .footer {
    margin: 0;
  }

  a,
  u {
    color: inherit;
    text-decoration: inherit;
  }
</style>
